# Node.js dependencies
node_modules/
npm-debug.log*

# Logs
*.log
logs/
*.out
*.err

# macOS files
.DS_Store

# Environment variables
.env

# Build files
dist/
build/

# IDE files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# System files
Thumbs.db
Desktop.ini